html{
    scroll-behavior: smooth;
}

body{
    background: rgb(238, 236, 232);
    background: linear-gradient(to bottom right, rgb(238, 236, 232), rgb(236, 224, 199));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin:0;
    
    
}

hr{
    color:#daeaeb;
    width:70vw;
}

.grid-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.grid-item{
    text-align:center;
    padding:10px;
    margin:25px;
}

.title{
    text-align:center;
    margin-top:190px;
    padding:20px;
}

.nav{
    background-color: #bbeaf8;
    box-shadow: 3px 3px 4px grey;
    width: 70%;
}

.nav-item{
    font-size:1.5em;
    margin:5%;
}
a{
    text-decoration:none;
    color:black;
}

.banner{
    padding:10px;
    padding-top:40px;
    
}

.banner-img{
    max-width:902px;
    min-width:370px;
    width:85%;

}


p{
    padding:10px;
}




.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    min-width:0;

}

.gallery-item{
    padding:20px;
    width:200px;
    height:200px;
    max-width:315px;
    max-height:315px;
    

   
}

.gallery-item-img{
    width:100%;
    height:100%;
    padding:3px;

}

img{
    box-shadow: 1px 1px 10px;

}

.modal{
    
    display: none;
    max-width:100%;
    height:auto;
    justify-content:center;
    align-items:center;
    position: fixed;
    right:0; 
    left: 0;
    top:0;
    bottom:0;
    overflow: auto;
    z-index:1;
    background-color:rgba(0, 0, 0, 0.603);


}

.modal-img{
    
    max-width: 90%;
    height: auto;
    max-height:90%;
    z-index:1;
}

.ar{
    position:relative;
    top:35%;
}

.back-arrow, .forward-arrow{
    position:fixed;
    height:90%;
    color:#daeaeb00;
    font-size: 42px;
    z-index:2;
    text-align:center;
    
}
.back-arrow{ /*rename these to something like back area instead of arrow */
    width:30vw;
    left:5%;
    /*background-color:rgba(161, 92, 92, 0.603);*/
    
}
.forward-arrow{
    width:30vw;
    right:5%;
    /*background-color:rgba(161, 92, 92, 0.603);*/
}


.close{
    position:fixed;
    top:0;
    left:1%;
    font-size:28px;
    font-weight:bold;
}

.close:hover,
.close:focus,
.forward-arrow:hover,
.back-arrow:hover {
    color:rgba(150, 144, 144, 0.842);;
    cursor: pointer;

}

/*testing*/
