

.container{
    
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding:20px;
}

.single-img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

img{
    width: 100%;
    height: 100%;
}